<table>
    <thead>
        <tr>
            <th>credits</th>
            <th>keywords</th>
            <th>links</th>
            <th>movies_metadata</th>
            <th>ratings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Index([&#x27;cast&#x27;, &#x27;crew&#x27;, &#x27;id&#x27;], dtype=&#x27;object&#x27;)</td>
            <td>Index([&#x27;id&#x27;, &#x27;keywords&#x27;], dtype=&#x27;object&#x27;)</td>
            <td>Index([&#x27;movieId&#x27;, &#x27;imdbId&#x27;, &#x27;tmdbId&#x27;], dtype=&#x27;object&#x27;)</td>
            <td>Index([&#x27;adult&#x27;, &#x27;belongs_to_collection&#x27;, &#x27;budget&#x27;, &#x27;genres&#x27;, &#x27;homepage&#x27;, &#x27;id&#x27;,<br>       &#x27;imdb_id&#x27;, &#x27;original_language&#x27;, &#x27;original_title&#x27;, &#x27;overview&#x27;,<br>       &#x27;popularity&#x27;, &#x27;poster_path&#x27;, &#x27;production_companies&#x27;,<br>       &#x27;production_countries&#x27;, &#x27;release_date&#x27;, &#x27;revenue&#x27;, &#x27;runtime&#x27;,<br>       &#x27;spoken_languages&#x27;, &#x27;status&#x27;, &#x27;tagline&#x27;, &#x27;title&#x27;, &#x27;video&#x27;,<br>       &#x27;vote_average&#x27;, &#x27;vote_count&#x27;],<br>      dtype=&#x27;object&#x27;)</td>
            <td>Index([&#x27;userId&#x27;, &#x27;movieId&#x27;, &#x27;rating&#x27;, &#x27;timestamp&#x27;], dtype=&#x27;object&#x27;)</td>
        </tr>
    </tbody>
</table>